# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "53a29e4c3cffad2da2c106c89e10f4b0"
name = "countdown-timer-app"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "https://chapters-frankfurt-alternative-marion.trycloudflare.com/api/public"
subpath = "countdown-timer"
prefix = "apps"
